:root {
    --button-margin: 16px;
}

body, html, #wrap {
    font: 40px "Computer Modern Serif", serif;
    user-select: none;

    position: relative;

    overflow-x: hidden;
    overflow-y: hidden;

    height: 100%;
    width: 100%;

    padding: 0px;
    margin: 0px;
}
/* dev */

/*
.slide {
    position: relative;
    width: 100vw;
    display: flex !important;
    flex-flow: column wrap;
    align-items: center;
}
*/

/* prod */

#question-template {
    display: none !important;
}

.mono {
    font: 32px 'Roboto Mono', Consolas, monospace;
}

.slide {
    
    position: absolute;

    left: 50%;
    top: calc(50% - 32px);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    display: none;

    width: 100vw;
    
}

.material-icons {
    font: 48px "Material Icons" !important;
}

.round-button {
    position: absolute;
    bottom: var(--button-margin);
    width: 80px;
    height: 80px;
    border-color: transparent;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

button {
    transition: 150ms background-color;
    -webkit-transition: 150ms background-color;
    -moz-transition: 150ms background-color;
    -ms-transition: 150ms background-color;
    -o-transition: 150ms background-color;
    border-color: transparent;
    background-color: #EEEEEE;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    font-family: "Computer Modern Serif", serif;
    font-size: 40px;
    padding: 8px;
    margin: 8px;
}

button:hover {
    background-color: #DDDDDD;
}

button:focus {
    outline: none;
}

#back {
    left: var(--button-margin);
}

#skip-questions {
    position: absolute;
    bottom: var(--button-margin);
    left: 50%;
    transform: translateX(-50%);
}

#question-number {
    position: absolute;
    bottom: 28px;
    left: 50%;
    width: 80px;
    text-align:center;
    transform: translateX(-50%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#forward {
    right: var(--button-margin);
}

p {
    margin: 0 8px 24px 8px;
    text-align: center;
    width: 90%;
    overflow-x: auto;
    overflow-y: hidden;
}

.slide-visible {
    display: flex !important;
    flex-flow: column wrap;
    align-items: center;
}

input {
    width: 800px;
    padding: 0px 8px 0 8px;
    font: 40px "Roboto Mono", Consolas, monospace;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-width: 2px;
    border-color: #CCCCCC;

    border-style: solid;

    transition: 200ms border-color;
    -webkit-transition: 200ms border-color;
    -moz-transition: 200ms border-color;
    -ms-transition: 200ms border-color;
    -o-transition: 200ms border-color;

    margin: 0 auto 8px auto;

}

input:hover {
    border-color: #BBBBBB;
}

input:focus {
    border-color: #005cd4;
    outline: none;
}

@media (max-width: 900px) {
    body, html, #wrap {
        font: 18px "Computer Modern Serif", serif;
    }
    input {
        font: 18px "Roboto Mono", Consolas, monospace;
        width: 90%;
    }

    .mono {
        font: 14px 'Roboto Mono', Consolas, monospace;
    }
}